<!DOCTYPE html>

{% load static %}

<html lang="en" data-theme="dark">
<head>
	<meta charset="utf-8">
	<title></title>
<!--
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">

<link rel="stylesheet" href="https://unpkg.com/chota@latest">
-->
<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
{% block head %}
{% endblock %}
</head>
<body class="dark">
{% if user.is_authenticated %}
    {% include 'auth_header.html' %}
{% else %}
    {% include 'no_auth_header.html' %}
{% endif %}
    <div class="columns">
    		<div class="one-half column centered block-blue p-3"><center>
    {% block content %}
    {% endblock %}{{ temp }}</center>



</body>
</html>