{% extends "base.html" %}
{% block content %}
<h1></h1>
<form action="check" method="POST">
	{% csrf_token %}
	<div class="card border-primary mb-3" style="max-width: 35rem;">
  {% if option1 %}<div class="card-header">Question:</div>{% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ question }}</h4>
    {% if category %}<p class="text-muted">Category: {{ category }}</p> {% endif %}
  </div>
</div>
	<label for="answer"><h1></h1></label><br>
	 <input type="hidden" name="id" value="{{ id }}">
	 {% if option1 %}
		<input class="btn btn-primary btn-lg" type="submit" name="name" value= "{{ option1 }}" style="min-width: 12rem">
		<input class="btn btn-primary btn-lg" type="submit" name="name" value= "{{ option2 }}" style="min-width: 12rem"><br><br>
		<input class="btn btn-primary btn-lg" type="submit" name="name" value= "{{ option3 }}" style="min-width: 12rem">
		<input class="btn btn-primary btn-lg" type="submit" name="name" value= "{{ option4 }}" style="min-width: 12rem"><br><br>		<input class="btn btn-outline-warning" type="submit" name="name" value= "Skip" style="min-width: 12rem">
	{% endif %}

</form>
{% endblock %}